.marker-icon {
  cursor: pointer;
  transition: 0.3s all;
}

.marker-icon:hover {
  transform: scale(1.2);
}

.MyMarker {
  fill: #008394;
  transition: 1s all;
}

.MyMarker .active {
  transform: scale(1.2);
  fill: #33c9dc;
}