.Landing__form__icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Landing__form__buttons svg {
  fill: #fff;
}

.Landing__form__button:hover {
  background-color: #fff;
  color: #000;
}

.Landing__form__button:hover svg {
  fill: #00bcd4;
}

.Landing__form__button {
  background: none;
  margin: 0.5em 0.2em;
  padding: 0.5em;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
}

.Landing__form__button.active {
  background-color: #fff;
  color: #000;
}

.Landing__form__button.active svg {
  fill: #00bcd4;
}

